body{
    font-family:'Signika', sans-serif;
}

//Container cover div
.container{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  
    @media screen and (min-width:320px) {
      min-width: 320px;
      padding-left:10px;
      padding-right: 10px;
}

@media screen and (min-width:768px) {
      min-width: 768px;
      padding-left: 15px;
padding-right: 15px;
}

@media screen and (min-width:1200px) {
      width: 1200px;
}
}

img{
    display: block;
}

a{
    text-decoration: none;
    display: block;
    transition: cubic-bezier(0.4, 0, 0.2, 1);;
    transition-duration: .25s;
    transition-property:  color;
 &:hover, &:focus{
        cursor: pointer;
        color: var(--hover-color);
    }
}



ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}

body{
    font-size: 16px;
}

button{
    cursor: pointer;

}
